<form action="/square/results">
<label form="giraffe">Enter a number</label>
<input id="giraffe" type="text" placeholder="What number do you want to square?" name="elephant">
<button>Calculate Square</button>
</form>